* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/*home.html*/
.main{
  height: 100vh;
  width: 100vw;
}

/*card section*/
.progress {
  height: 30%;
  width: 100%;
  /* margin-top: 1em; */
  /* background-color: orange; */
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.card {
  height: 100%;
  width: 30%;
  border-radius: 1.5em;
  border: 1px solid black;
  overflow: hidden;
  box-sizing: border-box;
}
.card1 {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
}
.card1:hover{
  filter: brightness(0.5);
}
.card1 li {
  display: flex;
  padding-left: 1em;
}
.card1 h4 {
  font-size: medium;
}
.card1 i {
  padding-left: 6em;
  padding-top: 0.7em;
}
.center h4 {
  font-size: large;
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(6, 6, 59);
  color: white;
}
.card2:hover{
  filter: brightness(0.5);
}
.lecture {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(6, 6, 59);
}
.lecture li {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.instructor {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 1.2em;
  padding-bottom: 1em;
  background-color: rgba(6, 6, 59, 0.3);
}
.instructor h4 {
  color: lightgreen;
}
.card2 > h4 {
  font-size: large;
  padding-left: 4em;
  padding-top: 0.5em;
}
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.card3:hover{
  filter: brightness(0.5);
}
.pending {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  height: 30%;
  width: 100%;
  justify-content: center;
  font-size: 1.3em;
  gap: 0.5em;
}

.Batch {
  height: 40%;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  box-sizing: border-box;
}
.top {
  height: 30%;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  position: sticky;
  top: 0;
}
.students {
  height: 55%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.students p {
  font-weight: bold;
  font-size: large;
  padding-left: 1em;
  padding-right: 26em;
}
.students h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(69, 192, 241);
}

.headings {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  color: white;
  background-color: rgba(46, 46, 132, 0.765);
}
.headings p {
  padding-left: 1.5em;
}
.data {
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;
  overflow-x: hidden;
}
.info {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  padding: 1em;
  background-color: white;
}
.info button {
  height: 100%;
  width: 6%;
  border-radius: 0.5em;
  background-color: rgb(70, 184, 230);
  color: white;
}
.attendance {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.outer {
  height: 100%;
  width: 15%;
  border-radius: 50%;
  background-color: rgb(27, 27, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inner i {
  border: 3px solid black;
  border-radius: 50%;
  padding: 0.2em;
}





/*classes.html*/

.main{
  height: 100vh;
  width: 100vw;
  /* background-color: yellow; */
}
.classestop{
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.classestop h2{
  color: grey;
  font-weight: lighter;
  padding: 1rem;
}
.dates{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.date1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.25);
  height: 50%;
  width: 45%;
  border-radius: 5px;
}
.date1 i{
  padding: 0 1rem 0 1rem;
}
.date1 p{
  font-size: larger;
  color: grey;
  font-weight: 100;
}
.date2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.25);
  height: 50%;
  width: 45%;
  border-radius: 5px;
}
.date2 p{
  font-size: larger;
  color: grey;
  font-weight: 100;
  padding: 0 3rem 0 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.386);
  
}
.date2 i{
  padding-left: 0.5rem;
}
.classboxes{
  height: 15vh;
  width: 98vw;
  border-radius: 1.1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}
.right{
  height: 100%;
  width: 40%;
}
.right h3{
  color: orange;
  padding-left: 1.3rem;
  padding-top: 0.8rem;
}
.rightbox{
  height: 60%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem 0 1rem;
}
.boxes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  border-right: 3px solid rgba(0, 0, 0, 0.25);
  padding-right: 1.5rem;
}
.boxes p{
  font-size: large;
  color: grey;
}
.boxes li a{
  background-color: rgba(88, 237, 88, 0.8);
  padding: 0.2rem;
  color: rgba(0, 128, 0, 0.8);
  border-radius: 0.3rem;
}
.leftbox{
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.leftbox button{
  height: 40%;
  width: auto;
  border-radius: 0.5rem;
  padding: 0 1rem;
  color: rgb(255, 166, 0);
  font-weight: bold;
  font-size: medium;
  background-color: rgb(236, 199, 131);
  margin-left: 1rem;
  border: none;
  outline: none;
}
