* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    overflow-x: hidden;
  }
  /*main background*/
  .main {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    display: flex;
    gap: 1.2em;
  }
  /*main container*/
  .middle {
    height: 100vh;
    width: 81vw;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: relative;
  }
  .iframe {
    height: 86%;
    width: 100%;
    position: absolute;
    top: 13%;
    border: none;
    outline: none;
  }
  /*Header*/
  .header {
    height: 10%;
    width: 100%;
    border-radius: 15px;
    margin-top: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .header > p {
    font-size: 1.5em;
    padding-left: 1em;
  }
  .profile {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 0.6em;
    position: relative;
  }
  .profile > p {
    font-size: 1em;
    color: grey;
  }
  .profile > i {
    overflow: hidden;
    padding-left: 1.3em;
  }
  /*profile image section*/
  .img {
    height: 80%;
    width: 26%;
    border-radius: 50%;
    background-image: url(./beach.avif);
    background-size: cover;
    position: relative;
  }
  .drop{
    background-color:white;
    position: absolute;
    top: 110%;
    display: none;
    height: 150%;
    width: 280%;
    border-radius: 1rem;
    z-index: 1;
  }
  .drop li:hover{
    color: orange;
  }
  .drop li{
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .drop li i{
    color: orange;
  }
  .drop li a:hover{
    color: orange;
  }
  .img:hover .drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .img:hover{
    border: 5px solid aqua;
  }
  /*for online status*/
  .status {
    height: 15%;
    width: 5%;
    border-radius: 50%;
    background-color: rgb(78, 244, 78);
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
  }
  /*sidebar*/
  .aside {
    height: 100vh;
    width: 15vw;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  i {
    overflow: hidden;
    color: black;
  }
  /*aside middle */
  .links {
    height: 50%;
    width: 100%;
  }
  .links ol {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  ol > li {
    padding-left: 1em;
    display: flex;
    align-items: center;
    font-size: larger;
  }
  a {
    padding-left: 1.5em;
    color: black;
  }
  .aside a:hover {
    color: orange;
  }
  .links ol li a:active{
    color: orange;
  }
  .aside i:hover {
    cursor: pointer;
  }
  .aside a:active .iframe {
    display: block;
  }
  aside button {
    height: 5%;
    width: 50%;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
    background-color: rgb(221, 0, 0, 0.85);
    border: none;
  }